:root {
    --dark: #c75760;
    --border: #418d71;
}

* {
    background-color: #ffd3b6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: var(--dark);
    
}

nav {
    display: flex;
    justify-content: end;
    font-size: larger;
}
nav a {
    color: var(--dark);
    margin-inline-end: 10px;
    padding: 3px;
    border: 2px outset var(--border);
    text-decoration: none;
}
#about-me {
    color: var(--dark);
    text-align: center;
    width: 25%;
    height: 25%;
    border: 5px double var(--border);
    padding: 10px;
}
#about-me img {
    width: 50%;
    height: 50%;
    border: 3px solid var(--border);
}

#work {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-project {
    width: 400px;
    height: 250px;
    border: solid 5px var(--border);
    margin: 10px;
}

.big-project img {
    width: 100%;
    height: 100%;
}

.small-project div {
    width: 300px;
    height: 150px;
    border: solid 5px var(--border);
    margin: 10px;
    text-align: center;
}

.small-project div img {
    width: 100%;
    height: 100%;
    position: relative;
}

.small-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contact-me {
    text-align: center;
    margin: 100px;
}

#contact-me a {
    text-align: center;
    color: var(--dark);
    border: 2px outset var(--border);
    padding: 3px;
    text-decoration: none;
}

footer {
    color: var(--dark);
}

@media screen and (max-width: 500px) {
    .big-project {
        border: solid 5px red;
    }
}